.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    margin-right: 30px;
}
.styled-table thead tr {
    background-color: #004d79;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #004d79;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #004d79;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #004d79;
    color: white;
    padding: 26px 20px;
    margin: 13px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #247db1;
  }
  .buttontambah {
    background-color: #004d79;
    border: none;
    color: white;
    padding: 18px 25px;
    text-align: center;
    text-decoration: none;
    float: right;
    font-size: 14px;
    margin-bottom: 14px;
    cursor: pointer;
  }